.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  width: 190px;
  height: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/delete-icon.svg);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete-button:hover {
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
}

.card__like-button {
  background-image: url(../images/LikeButton.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button_active {
  background-image: url(../images/liked.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 100%;
    height: 318px;
  }
}
