.footer {
  padding: 24px 20px 40px;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__content {
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #212121;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .footer__content {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }
}
