.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease, visibility 0s linear 0.25s;
  z-index: 1000;
  overflow: auto;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal_is-opened .modal__container {
  transform: none;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  transform: translateY(-8px) scale(0.98);
  transition: transform 0.25s cubic-bezier(0.2, 0.9, 0.3, 1), opacity 0.25s ease;
  background-color: white;
}

.modal__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background-image: url(../images/DEFAULTHOVEr.svg);
  cursor: pointer;
  border-radius: 8px;
}

.modal__close-button:hover {
  opacity: 0.8;
  background-image: url(../images/DEFAULTBLACKHOVER.svg);
}

.modalclose-button.modalclose-button_type_preview {
  position: absolute;
  top: 10px;
  right: -35px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
  background: transparent;
  border: 9;
  background-image: url(../images/DeleteWhite.svg);
}

.modalclose-button.modalclose-button_type_preview:hover {
  background-color: transparent;
  background-image: url(../images/blackdeletehover.svg);
}

.modalclose-button.modalclose-button_type_preview:before {
  transform: rotate(45deg);
}

.modalclose-button.modalclose-button_type_preview::after {
  transform: rotate(-45deg);
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: normal;
  cursor: pointer;
  margin: 15px -2px;
}

.modal__submit-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  background-color: grey;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  /*I think this should fix the button when its disabled being weird*/
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__image-container {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  text-align: center;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.modal__image {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 0;
  border: none;
}

.modal__error {
  display: none;
  margin-top: 8px;
  color: red;
}

.modal__error_visable {
  display: block;
}

.modal__caption {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: auto;
  left: auto;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  margin-top: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  z-index: 5;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
}

.modal__input_state_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.3);
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 300px;
    top: 134px;
    left: 10px;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
  }
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    width: 276px;
    gap: 24px;
  }
  .modal__submit-button {
    width: 276px;
    border-radius: 8px;
    padding: 18px 32px;
    gap: 8px;
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}
